* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

.pages {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 10px;
  
}

.page_item {
    width: 22rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s;

}

.page_item:hover {
    transform: scale(1.06);
}

.page_item_title {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.page_item_img {

    display: flex;
    width: 260px;
    height: 260px;
    border-radius: 20px;
    border: 1px solid black;
    object-fit: cover;
}
